/* line 3, /Users/jakedex/Documents/development/web/trunk-site/sass/partials/_nav.scss */
.navbar {
  background-color: #4A4A4A;
  border-radius: 0;
  height: 55px; }
  /* line 8, /Users/jakedex/Documents/development/web/trunk-site/sass/partials/_nav.scss */
  .navbar #logo {
    margin-left: 10%; }

/* line 1, /Users/jakedex/Documents/development/web/trunk-site/sass/partials/_hero.scss */
#topHero {
  width: 100%; }

/* line 2, /Users/jakedex/Documents/development/web/trunk-site/sass/partials/_sections.scss */
.section {
  width: 100%;
  text-align: center;
  font-family: Lato, Helvetica, Arial, sans-serif; }
  @media only screen and (min-width: 961px) {
    /* line 2, /Users/jakedex/Documents/development/web/trunk-site/sass/partials/_sections.scss */
    .section {
      min-height: 500px; } }

/* line 1, /Users/jakedex/Documents/development/web/trunk-site/sass/partials/_problem.scss */
.section-title {
  margin: 20px; }

/* line 6, /Users/jakedex/Documents/development/web/trunk-site/sass/partials/_problem.scss */
.lung-row h3 {
  margin: 20px; }

/* line 10, /Users/jakedex/Documents/development/web/trunk-site/sass/partials/_problem.scss */
.lung-row .count-anim {
  font-size: 1.5em;
  font-weight: bold;
  margin: 2px; }

/* line 18, /Users/jakedex/Documents/development/web/trunk-site/sass/partials/_problem.scss */
#inner {
  fill-opacity: 0%; }

/* line 1, /Users/jakedex/Documents/development/web/trunk-site/sass/partials/_map.scss */
#map {
  background-color: #21252E;
  color: #fff;
  height: 800px; }

/* line 8, /Users/jakedex/Documents/development/web/trunk-site/sass/partials/_map.scss */
#map h2 {
  font-weight: 900;
  font-size: 50px;
  letter-spacing: .2px; }
  @media only screen and (min-width: 961px) {
    /* line 8, /Users/jakedex/Documents/development/web/trunk-site/sass/partials/_map.scss */
    #map h2 {
      margin-top: 175px; } }

/* line 18, /Users/jakedex/Documents/development/web/trunk-site/sass/partials/_map.scss */
#exposure {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  max-width: 500px;
  margin: 30px auto; }

/* line 28, /Users/jakedex/Documents/development/web/trunk-site/sass/partials/_map.scss */
#map table {
  color: white;
  margin: 0 auto; }
  /* line 32, /Users/jakedex/Documents/development/web/trunk-site/sass/partials/_map.scss */
  #map table #table-head {
    font-size: 10px;
    margin: 10px; }
  /* line 41, /Users/jakedex/Documents/development/web/trunk-site/sass/partials/_map.scss */
  #map table .table-brand {
    font-size: 24px;
    font-weight: 300px; }
    /* line 45, /Users/jakedex/Documents/development/web/trunk-site/sass/partials/_map.scss */
    #map table .table-brand td {
      margin-top: 30px;
      margin-bottom: 30px; }
    /* line 50, /Users/jakedex/Documents/development/web/trunk-site/sass/partials/_map.scss */
    #map table .table-brand .brand {
      width: 30px; }
  /* line 55, /Users/jakedex/Documents/development/web/trunk-site/sass/partials/_map.scss */
  #map table .years-label {
    font-size: 12px; }

/* line 60, /Users/jakedex/Documents/development/web/trunk-site/sass/partials/_map.scss */
#map svg {
  width: 170%;
  max-width: 1100px;
  position: relative;
  top: 30%; }

/* line 68, /Users/jakedex/Documents/development/web/trunk-site/sass/partials/_map.scss */
#map-layer path {
  opacity: .5; }
  /* line 71, /Users/jakedex/Documents/development/web/trunk-site/sass/partials/_map.scss */
  #map-layer path:hover {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    fill: rgba(245, 166, 35, 0.2);
    stroke: #F5A623; }

/* line 82, /Users/jakedex/Documents/development/web/trunk-site/sass/partials/_map.scss */
.map-years {
  font-size: 36px;
  font-weight: 700;
  color: #27A3C7; }

/* line 88, /Users/jakedex/Documents/development/web/trunk-site/sass/partials/_map.scss */
#map-country {
  text-align: center;
  font-size: 36px;
  font-weight: 300;
  color: #F5A623; }

/* line 97, /Users/jakedex/Documents/development/web/trunk-site/sass/partials/_map.scss */
#map-text #text-inner {
  margin: 10% 10%; }

/* line 106, /Users/jakedex/Documents/development/web/trunk-site/sass/partials/_map.scss */
#map .bar {
  height: 15px;
  width: 0px;
  background-color: white; }

/*# sourceMappingURL=styles.css.map */