// Import media queries
@import "partials/breakpoints";

// Import functions/config
@import "partials/functions";
@import "partials/config";

// Import all partials for compile
@import "partials/nav";
@import "partials/hero";
@import "partials/sections";
@import "partials/problem";
@import "partials/map";
