.cards {
  margin: 0;
  padding: 0;
}

.hover:hover {
  z-index: 99;
  position: relative;
  box-shadow: 0 2px 35px 2px rgba(0, 0, 0, 0.4);
  transition: box-shadow .25s;
}

.card-panel {
  margin: 0;
  box-shadow: none;
  border-radius: 0;
}

.card {
  margin: 0;
  box-shadow: none;
  border-radius: 0;
}

.card-image .activator {
  width: 100%;
  height: 100%;

  img {
    width: auto;
  }

  .activator-content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.no-margin {
  padding: 0 !important;
}

.title-card {
  height: 450px;

  .activator-content {
    padding: 40px;
    padding-top: 120px;

    @include desktop(){
      height: 750px;
      margin-top: -300px;
      padding-top: 40px;
  };

  }
}

.title-card .title {
  font-size: 70px;
  color: #fff;
  font-weight: 800;
  letter-spacing: 3px;
  text-align: center;
  margin: 0;
}

.title-card .title-text {
  font-size: 20px;
  color: #fff;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  line-height: 1.2;
}

.title-card #title-render {
  margin: 65px 10px;

  @include desktop {
    width: 300px;
    margin: auto;
  }
}

.stat-card {
  height: 450px;
  color: #fff;

  .activator {
    padding: 140px 0 0px 0;
  }
}

.stat-card .stat-main {
  font-size: 90px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  width: 200px;
  display: block;
  padding: 0;

}

.stat-card .stat-detail {
  font-size: 16px;
  font-weight: 400;
}

.stat-card .stat-secondary {
  margin: 0;
  margin-top: -10px;
  padding: 0;
  text-align: center;
  font-size: 18px;
}

.quote-card {
  height: 450px;
  color: #fff;

  .activator-content {
    padding: 120px 50px 0px 50px;
  }
}

.quote-card .quote-main {
  font-size: 24px;
  text-align: center;
}

.quote-card .quote-secondary {
  font-size: 16px;
  text-align: right;
}

.color-card {
  height: 450px;
  color: #fff;

  .activator {
    padding: 120px 50px 0px 50px;
  }
}

.top-row {
  background-image: url('../images/render.png');
  padding-top: 200px;
  background-position-y: 20px;
  background-repeat: no-repeat;

  @include mobile_tablet {
    background-image: none;
    padding-top: 0;
  }

  .col {
    @include mobile_tablet {
      width: 100% !important;
      margin-left: 0 !important;
    }
  }

  .top-card {
    max-height: 250px;
    text-align: center;
  }
}

// Signup field
.signup {
  text-align: center;

  input {
    width: 65%;
    margin-right: 20px;
  }
  label {
    left: 5.75rem;
  }
}
// Animations
.scale {
  animation-name: scale;
  animation-duration: 300ms;
  width: 100% !important;
}
.shrink {
  animation-name: shrink;
  animation-duration: 300ms;
  width: 0% !important;
}
@keyframes scale {
  0% {width: 50%;}
  10% {width: 55%;}
  20% {width: 60%;}
  30% {width: 65%;}
  40% {width: 70%;}
  50% {width: 75%;}
  60% {width: 80%;}
  70% {width: 85%;}
  80% {width: 90%;}
  90% {width: 95%}
  100% {width: 100%;}
}
@keyframes shrink {
  0% {width: 50%;}
  10% {width: 45%;}
  20% {width: 40%;}
  30% {width: 35%;}
  40% {width: 30%;}
  50% {width: 25%;}
  60% {width: 20%;}
  70% {width: 15%;}
  80% {width: 10%;}
  90% {width: 5%}
  100% {width: 0%;}
}
