.cards {
  margin: 0;
  padding: 0;
}

.hover:hover {
  z-index: 99;
  position: relative;
  box-shadow: 0 2px 35px 2px rgba(0, 0, 0, 0.4);
  transition: box-shadow .25s;
}

.card-panel {
  margin: 0;
  box-shadow: none;
  border-radius: 0;
}

.card {
  margin: 0;
  box-shadow: none;
  border-radius: 0;

  // Hidden card content
  .hidden {
    display: none !important;
  }
  .text-reveal {
    width: 45%;
    float: left;
    margin: 100px 10px;
  }
  .main-left {
    width: 50% !important;
    float: left !important;
    margin: 100px 10px !important;
  }
}

.no-margin {
  padding: 0 !important;
}

.title-card {
  height: 450px;

}

.title-card .title {
  font-size: 70px;
  color: #fff;
  font-weight: 800;
  letter-spacing: 3px;
  text-align: center;
  margin: 0;
}

.title-card .title-text {
  font-size: 20px;
  color: #fff;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  line-height: 1.2;
}

.title-card #title-render {
  margin: 65px 10px;

  @include desktop {
    width: 300px;
    margin: auto;
  }
}

.stat-card {
  height: 450px;
  color: #fff;
}

.stat-card .stat-main {
  font-size: 90px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  width: 200px;
  display: block;
  padding: 0;

}

.stat-card .stat-detail {
  font-size: 16px;
  font-weight: 400;
}

.stat-card .stat-secondary {
  margin: 0;
  margin-top: -10px;
  padding: 0;
  text-align: center;
  font-size: 18px;
}

.quote-card {
  height: 450px;
  color: #fff;
}

.quote-card .quote-main {
  font-size: 24px;
  text-align: center;
}

.quote-card .quote-secondary {
  font-size: 16px;
  text-align: right;
}

.color-card {
  height: 450px;
  color: #fff;

  .activator {
    padding: 120px 50px 0px 50px;
  }
}

.top-row {
  background-image: url('../images/render.png');
  padding-top: 200px;
  background-position-y: 20px;
  background-repeat: no-repeat;

  @include mobile_tablet {
    background-image: none;
    padding-top: 0;
  }

  .col {
    @include mobile_tablet {
      width: 100% !important;
      margin-left: 0 !important;
    }
  }

  .top-card {
    max-height: 250px;
    text-align: center;
  }
}

// Animations
.scale {
  animation-name: scale;
  animation-duration: 250ms;
  //transition: width 300ms ease-in;
  width: 100% !important;
}
.shrink {
  animation-name: shrink;
  animation-duration: 250ms;
  //transition: width 200ms ease-in-out;
  width: 0% !important;
}
@keyframes scale {
  0% {width: 50%;}
  5% {width: 52%}
  10% {width: 55%;}
  15% {width: 57%;}
  20% {width: 60%;}
  25% {width: 62%;}
  30% {width: 65%;}
  35% {width: 67%;}
  40% {width: 70%;}
  45% {width: 72%;}
  50% {width: 75%;}
  55% {width: 77%;}
  60% {width: 80%;}
  65% {width: 82%;}
  70% {width: 85%;}
  75% {width: 87%;}
  80% {width: 90%;}
  85% {width: 92%;}
  90% {width: 95%}
  95% {width: 97%;}
  100% {width: 100%;}
}
@keyframes shrink {
  0% {width: 50%;}
  5% {width: 48%}
  10% {width: 45%;}
  15% {width: 43%;}
  20% {width: 40%;}
  25% {width: 38%;}
  30% {width: 35%;}
  35% {width: 33%;}
  40% {width: 30%;}
  45% {width: 28%;}
  50% {width: 25%;}
  55% {width: 23%;}
  60% {width: 20%;}
  65% {width: 18%;}
  70% {width: 15%;}
  75% {width: 13%;}
  80% {width: 10%;}
  85% {width: 8%;}
  90% {width: 5%}
  95% {width: 3%;}
  100% {width: 0%;}
}
