.cards {
  margin: 0;
  padding: 0;
}

.hover:hover {
  z-index: 99;
  position: relative;
  box-shadow: 0 2px 35px 2px rgba(0, 0, 0, 0.4);
  transition: box-shadow .25s;
}

.card-panel {
  margin: 0;
  box-shadow: none;
  border-radius: 0;
}

.card {
  margin: 0;
  box-shadow: none;
  border-radius: 0;
  
  // Hidden card content
  .hidden {
    display: none !important;
  }
  .text-reveal {
    width: 45%;
    float: left;
    margin: 100px 10px;
  }
  .main-left {
    width: 50% !important;
    float: left !important;
    margin: 100px 10px !important;
  }
}

.no-margin {
  padding: 0 !important;
}