.cards {
  margin: 0;
  padding: 0;
}

.hover:hover {
  z-index: 99;
  position: relative;
  box-shadow: 0 2px 35px 2px rgba(0, 0, 0, 0.4);
  transition: box-shadow .25s;
}

.card-panel {
  margin: 0;
  box-shadow: none;
  border-radius: 0;
}

.card {
  margin: 0;
  box-shadow: none;
  border-radius: 0;

  // Hidden card content
  .hidden {
    display: none !important;
  }
  .text-reveal {
    width: 45%;
    float: left;
    margin: 100px 10px;
  }
  .main-left {
    width: 50% !important;
    float: left !important;
    margin: 100px 10px !important;
  }
}

.large {
  color: white;
  margin-top: -150px;
  height: 600px !important;
  
  .card {
    height: 100% !important;
  }
}

.no-margin {
  padding: 0 !important;
}

// Animations
.scale {
  animation-name: scale;
  animation-duration: 250ms;
  //transition: width 300ms ease-in;
  width: 100% !important;
}
.shrink {
  animation-name: shrink;
  animation-duration: 250ms;
  //transition: width 200ms ease-in-out;
  width: 0% !important;
}
@keyframes scale {
  0% {width: 50%;}
  5% {width: 52%}
  10% {width: 55%;}
  15% {width: 57%;}
  20% {width: 60%;}
  25% {width: 62%;}
  30% {width: 65%;}
  35% {width: 67%;}
  40% {width: 70%;}
  45% {width: 72%;}
  50% {width: 75%;}
  55% {width: 77%;}
  60% {width: 80%;}
  65% {width: 82%;}
  70% {width: 85%;}
  75% {width: 87%;}
  80% {width: 90%;}
  85% {width: 92%;}
  90% {width: 95%}
  95% {width: 97%;}
  100% {width: 100%;}
}
@keyframes shrink {
  0% {width: 50%;}
  5% {width: 48%}
  10% {width: 45%;}
  15% {width: 43%;}
  20% {width: 40%;}
  25% {width: 38%;}
  30% {width: 35%;}
  35% {width: 33%;}
  40% {width: 30%;}
  45% {width: 28%;}
  50% {width: 25%;}
  55% {width: 23%;}
  60% {width: 20%;}
  65% {width: 18%;}
  70% {width: 15%;}
  75% {width: 13%;}
  80% {width: 10%;}
  85% {width: 8%;}
  90% {width: 5%}
  95% {width: 3%;}
  100% {width: 0%;}
}
