// Type/Color map
$colors: (
  hero-alpha: rgba(255,255,255, .34),
  hero-bg: #001021,
  orange: #F97C00,
  navy: #0544A4,
  lime: #CDDE20,
  green: #009788
);

$fonts: (
  primary: #{'Lato', Helvetica, Arial, sans-serif},
);

$main-font: 'Lato', Helvetica, Arial, sans-serif;
