.background-container {
  height: 1500px;
  margin: 0 80px 500px 80px;
  padding-top: 40px;
  
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(top, #8e9eab, #B4B4B4);
  background: -o-linear-gradient(top, #8e9eab, #eef2f3);
  background: linear-gradient(to bottom, #B4B4B4, #fff);
}

.render {}

#render {
  margin: 40px 0 100px 20px;
}

.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}