#map-layer {
  path {
    opacity: .8;

    &:hover {
      fill: rgba(245, 166, 35, .2);
      stroke: #F5A623;
    }
  }
}

#map {
  background-color: #21252E;
  color: #fff;
}

#map-years {
  font-size: 36px;
  font-weight: 700;
  color: #27A3C7;
}

#map-country {
  font-weight: 700;
  color: #444;
}

// Styles for accompanying text next to the map
#map-text {
  #text-inner {
    margin: 10% 10%;

    img {
      width: 80%;
    }
  }

}
