#map {
  background-color: #21252E;
  color: #fff;

  min-height: 800px;
  overflow: hidden;
}

#map h2 {
  font-weight: 900;
  font-size: 50px;
  letter-spacing: .2px;

  @include desktop {
    margin-top: 175px;
  }

  @include mobile {
    font-size: 30px;
  }
}

#exposure {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  max-width: 500px;


  margin: 30px auto;
}

#map table {
  color: white;
  margin: 0 auto;
  min-width: 400px;
  
  #table-head {
    font-size: 10px;
    height: 20px;

  }

  .table-brand {
    font-size: 28px;
    font-weight: 500;

    td {
      height: 50px;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .brand {
      width: 25%;
    }
    
    .bar-cell {
      width: 40%;
    }
  }

  .years-label {
    font-size: 12px;
  }
}

#map svg {
  width: 170%;
  max-width: 1100px;
  position: relative;
  top: 30%;

  @include mobile_tablet {
    position: absolute;
    left: 0;
    opacity: .5;
  }
}

#map-layer {
  path {
    opacity: .5;

    &:hover {
      opacity: 1;
       transition: opacity .25s ease-in-out;
       -moz-transition: opacity .25s ease-in-out;
       -webkit-transition: opacity .25s ease-in-out;
      fill: rgba(245, 166, 35, .2);
      stroke: #F5A623;
    }
  }
}

.map-years {
  font-size: 36px;
  font-weight: 700;
  color: #27A3C7;
}

#map-country {
  height: 60px;
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-weight: 300;
  color: #F5A623;
}

// Styles for accompanying text next to the map
#map-text {
  #text-inner {
    margin: 10% 10%;

    img {
      //width: 80%;
    }
  }
}

#map .bar {
  height: 30px;
  width: 0px;
  background-color: white;
  opacity: .2;
}
