// Team section
#team {
  min-height: 350px;
  font-family: $main-font;
  padding: 30px 0;

  h2 {
    margin: 20px 0;
  }

  .img-circle {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .jake {
    //float: right;

    @include mobile_tablet {
      float: none;
    }
  }
  .coleman {
    //float: left;

    @include mobile_tablet {
      float: none;
    }
  }

}
