// Team section
#team {
  min-height: 350px;

  h2 {
    margin: 20px 0;
  }

  .img-circle {
    margin-top: 30px;
  }
  .jake {
    float: right;

    @include mobile_tablet {
      float: none;
    }
  }
  .coleman {
    float: left;

    @include mobile_tablet {
      float: none;
    }
  }

}
