.map {
  .map-stat {
    padding: 2em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    p {
      font-size: 1.2em;
      margin: 0;
    }
    .map-aqi {
      font-size: 70px;
      color: #fff;
      font-weight: 800;
      letter-spacing: -2px;
      text-align: center;
      margin: 0;
      
      .map-aqi-sub {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: normal;
      }
    }
    .map-date {
      margin-right: auto;
      align-self: flex-end;
    }
    .map-city {
      font-weight: 600;
      font-size: 1.5em;
      margin-left: auto;
    }
  }
  .color-card {
    height: 450px;
    color: #fff;
    .activator {
      padding: 120px 50px 0px 50px;
    }
  }
}

.abs {
  position: absolute;
}

.card-expand {
  .map-left {
    margin-left: 4.5em;
    margin-bottom: 3em;
    margin-right: auto;
    margin-top: auto;
//    margin-bottom: .5%;
    display: block;
    width: 175px;
    
    .map-aqi {
      width: 175px;
      line-height: 1em;
      display: block;
    }
    
    .map-date {
      margin-left: 15px;
    }
    
  }
  
  .map-right {
    width: 145px;
    z-index: 99;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3em;
    padding-right: 2em;
    padding-top: 2em;
    
    .map-city {
      color: white;
      
      &:hover {
        color: white !important;
      }
    }
  
    .map-city-list {
      margin: 0;
      list-style: none;

      li {
        padding: 5px;
        text-align: right;
        &:hover, &.li-city-hover {
          color: lighten(color(navy), 40);
        }
      }
    }
  }
  
  .map-svg {
    position: absolute;
    height: 100%;
    width: 80%;
    top: 0;
    left: 10%;

    svg {
      height: 100%;
      width: 100%;
    }
    
    #map-layer {
      width: 100%;
      height: 100%;
    }
    
    #map-pollution {
      .pol-point {
        r: 2.5;
//        stroke: lighten(color(navy), 60);
//        stroke-width: 1;
        fill: #fff;
        
        &:hover, &.hover {
          fill: color(green);
          r: 4.5 !important;
          transition: r .2s ease-out;
        }
        
        &.pulsing {
          fill: lighten(color(green), 10);
          transition: r .2s ease;
        }
      }
      
      #karachi {
        cx: 140;
        cy: 293;
      }
      
      #new-deli {
        cx: 190;
        cy: 271;
      }
      
      #mumbai {
        cx: 168;
        cy: 330;
      }
      
      #pune {
        cx: 178;
        cy: 337;
      }
      
      
    }
  }  
}
