.stat-card {
  height: 450px;
  color: #fff;
}

.stat-card .stat-main {
  font-size: 90px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  width: 200px;
  display: block;
  padding: 0;

}

.stat-card .stat-detail {
  font-size: 16px;
  font-weight: 400;
}