/* line 1, ../sass/partials/_hero.scss */
.background-container {
  height: 1500px;
  margin: 0 80px 500px 80px;
  padding-top: 40px;
  background: #8e9eab;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(top, #8e9eab, #B4B4B4);
  background: -o-linear-gradient(top, #8e9eab, #eef2f3);
  background: linear-gradient(to bottom, #B4B4B4, #fff);
}

/* line 14, ../sass/partials/_hero.scss */
#render {
  margin: 40px 0 100px 20px;
}

/* line 18, ../sass/partials/_hero.scss */
.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

/* line 1, ../sass/partials/_nav.scss */
nav {
  margin: 0;
  overflow: hidden;
}

/* line 6, ../sass/partials/_nav.scss */
nav ul {
  float: right;
  margin: 0;
  padding: 0;
}

/* line 12, ../sass/partials/_nav.scss */
nav ul li {
  display: inline-block;
  list-style-type: none;
}

/* line 18, ../sass/partials/_nav.scss */
nav > ul > li > a {
  color: #eee;
  font-size: 20px;
  display: block;
  line-height: 2em;
  padding: 0.5em 0.5em;
  text-decoration: none;
}

/* line 1, ../sass/partials/_cards.scss */
.cards {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/partials/_cards.scss */
.hover:hover {
  z-index: 99;
  position: relative;
  box-shadow: 0 2px 35px 2px rgba(0, 0, 0, 0.4);
  transition: box-shadow .25s;
}

/* line 13, ../sass/partials/_cards.scss */
.card-panel {
  margin: 0;
  box-shadow: none;
  border-radius: 0;
}

/* line 19, ../sass/partials/_cards.scss */
.no-margin {
  padding: 0 !important;
}

/* line 23, ../sass/partials/_cards.scss */
.title-card {
  margin-top: -300px;
  padding: 40px;
  height: 750px;
}

/* line 29, ../sass/partials/_cards.scss */
.title-card .title {
  font-size: 70px;
  color: #fff;
  font-weight: 800;
  letter-spacing: 3px;
  text-align: center;
  margin: 0;
}

/* line 38, ../sass/partials/_cards.scss */
.title-card .title-text {
  font-size: 20px;
  color: #fff;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  line-height: 1.2;
}

/* line 47, ../sass/partials/_cards.scss */
.title-card #title-render {
  display: block;
  margin: 65px 10px;
}

/* line 52, ../sass/partials/_cards.scss */
.stat-card {
  height: 450px;
  padding: 140px 0 0px 0;
  color: #fff;
}

/* line 58, ../sass/partials/_cards.scss */
.stat-card .stat-main {
  font-size: 90px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* line 67, ../sass/partials/_cards.scss */
.stat-card .stat-detail {
  font-size: 16px;
  font-weight: 400;
}

/* line 72, ../sass/partials/_cards.scss */
.stat-card .stat-secondary {
  margin: 0;
  margin-top: -10px;
  padding: 0;
  text-align: center;
  font-size: 18px;
}

/* line 80, ../sass/partials/_cards.scss */
.quote-card {
  height: 450px;
  padding: 120px 50px 0px 50px;
  color: #fff;
}

/* line 86, ../sass/partials/_cards.scss */
.quote-card .quote-main {
  font-size: 24px;
  text-align: center;
}

/* line 91, ../sass/partials/_cards.scss */
.quote-card .quote-secondary {
  font-size: 16px;
  text-align: right;
}

/* line 96, ../sass/partials/_cards.scss */
.color-card {
  height: 450px;
  padding: 120px 50px 0px 50px;
  color: #fff;
}
