@media only screen and (max-width: 992px) {
  /* line 2, ../sass/partials/_hero.scss */
  .container {
    width: 100% !important;
  }
}

/* line 8, ../sass/partials/_hero.scss */
.background-container {
  height: 1500px;
  margin: 0;
  padding-top: 40px;
  background: #8e9eab;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(top, #8e9eab, #B4B4B4);
  background: -o-linear-gradient(top, #8e9eab, #eef2f3);
  background: linear-gradient(to bottom, #B4B4B4, #fff);
}
@media only screen and (min-width: 1201px) {
  /* line 8, ../sass/partials/_hero.scss */
  .background-container {
    margin: 0 80px 500px 80px;
  }
}

/* line 23, ../sass/partials/_hero.scss */
.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

/* line 33, ../sass/partials/_hero.scss */
.hero {
  display: none;
}
@media only screen and (max-width: 992px) {
  /* line 33, ../sass/partials/_hero.scss */
  .hero {
    display: block;
  }
}
@media only screen and (max-width: 992px) {
  /* line 39, ../sass/partials/_hero.scss */
  .hero .col {
    margin: auto !important;
    float: none !important;
    width: 60% !important;
  }
}

/* line 1, ../sass/partials/_nav.scss */
nav {
  margin: 0;
  overflow: hidden;
}

/* line 6, ../sass/partials/_nav.scss */
nav ul {
  float: right;
  margin: 0;
  padding: 0;
}

/* line 12, ../sass/partials/_nav.scss */
nav ul li {
  display: inline-block;
  list-style-type: none;
}

/* line 18, ../sass/partials/_nav.scss */
nav > ul > li > a {
  color: #eee;
  font-size: 20px;
  display: block;
  line-height: 2em;
  padding: 0.5em 0.5em;
  text-decoration: none;
}

/* line 1, ../sass/partials/_cards.scss */
.cards {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/partials/_cards.scss */
.hover:hover {
  z-index: 99;
  position: relative;
  box-shadow: 0 2px 35px 2px rgba(0, 0, 0, 0.4);
  transition: box-shadow .25s;
}

/* line 13, ../sass/partials/_cards.scss */
.card-panel {
  margin: 0;
  box-shadow: none;
  border-radius: 0;
}

/* line 19, ../sass/partials/_cards.scss */
.card {
  margin: 0;
  box-shadow: none;
  border-radius: 0;
}

/* line 25, ../sass/partials/_cards.scss */
.card-image .activator {
  width: 100%;
  height: 100%;
}
/* line 29, ../sass/partials/_cards.scss */
.card-image .activator img {
  width: auto;
}
/* line 33, ../sass/partials/_cards.scss */
.card-image .activator .activator-content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* line 41, ../sass/partials/_cards.scss */
.no-margin {
  padding: 0 !important;
}

/* line 45, ../sass/partials/_cards.scss */
.title-card {
  height: 450px;
}
/* line 48, ../sass/partials/_cards.scss */
.title-card .activator-content {
  padding: 40px;
  padding-top: 120px;
}
@media only screen and (min-width: 961px) {
  /* line 48, ../sass/partials/_cards.scss */
  .title-card .activator-content {
    height: 750px;
    margin-top: -300px;
    padding-top: 40px;
  }
}

/* line 61, ../sass/partials/_cards.scss */
.title-card .title {
  font-size: 70px;
  color: #fff;
  font-weight: 800;
  letter-spacing: 3px;
  text-align: center;
  margin: 0;
}

/* line 70, ../sass/partials/_cards.scss */
.title-card .title-text {
  font-size: 20px;
  color: #fff;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  line-height: 1.2;
}

/* line 79, ../sass/partials/_cards.scss */
.title-card #title-render {
  display: none;
  margin: 65px 10px;
}
@media only screen and (min-width: 961px) {
  /* line 79, ../sass/partials/_cards.scss */
  .title-card #title-render {
    display: block;
  }
}

/* line 88, ../sass/partials/_cards.scss */
.stat-card {
  height: 450px;
  color: #fff;
}
/* line 92, ../sass/partials/_cards.scss */
.stat-card .activator {
  padding: 140px 0 0px 0;
}

/* line 97, ../sass/partials/_cards.scss */
.stat-card .stat-main {
  font-size: 90px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  width: 200px;
  display: block;
  padding: 0;
}

/* line 108, ../sass/partials/_cards.scss */
.stat-card .stat-detail {
  font-size: 16px;
  font-weight: 400;
}

/* line 113, ../sass/partials/_cards.scss */
.stat-card .stat-secondary {
  margin: 0;
  margin-top: -10px;
  padding: 0;
  text-align: center;
  font-size: 18px;
}

/* line 121, ../sass/partials/_cards.scss */
.quote-card {
  height: 450px;
  color: #fff;
}
/* line 125, ../sass/partials/_cards.scss */
.quote-card .activator-content {
  padding: 120px 50px 0px 50px;
}

/* line 130, ../sass/partials/_cards.scss */
.quote-card .quote-main {
  font-size: 24px;
  text-align: center;
}

/* line 135, ../sass/partials/_cards.scss */
.quote-card .quote-secondary {
  font-size: 16px;
  text-align: right;
}

/* line 140, ../sass/partials/_cards.scss */
.color-card {
  height: 450px;
  color: #fff;
}
/* line 144, ../sass/partials/_cards.scss */
.color-card .activator {
  padding: 120px 50px 0px 50px;
}

/* line 149, ../sass/partials/_cards.scss */
.top-row {
  background-image: url("../images/render.png");
  padding-top: 200px;
  background-position-y: 20px;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 992px) {
  /* line 149, ../sass/partials/_cards.scss */
  .top-row {
    background-image: none;
    padding-top: 0;
  }
}
@media only screen and (max-width: 992px) {
  /* line 160, ../sass/partials/_cards.scss */
  .top-row .col {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
/* line 167, ../sass/partials/_cards.scss */
.top-row .top-card {
  max-height: 250px;
  text-align: center;
}

/* line 174, ../sass/partials/_cards.scss */
.signup {
  text-align: center;
}
/* line 177, ../sass/partials/_cards.scss */
.signup input {
  width: 65%;
  margin-right: 20px;
}
/* line 181, ../sass/partials/_cards.scss */
.signup label {
  left: 5.75rem;
}

/* line 186, ../sass/partials/_cards.scss */
.scale {
  animation-name: scale;
  animation-duration: 100ms;
  width: 100% !important;
}

@keyframes scale {
  0% {
    width: 50%;
  }
  10% {
    width: 55%;
  }
  20% {
    width: 60%;
  }
  30% {
    width: 65%;
  }
  40% {
    width: 70%;
  }
  50% {
    width: 75%;
  }
  60% {
    width: 80%;
  }
  70% {
    width: 85%;
  }
  80% {
    width: 90%;
  }
  90% {
    width: 95%;
  }
  100% {
    width: 100%;
  }
}
