@media only screen and (max-width: 992px) {
  /* line 2, ../sass/partials/_hero.scss */
  .container {
    width: 100% !important;
  }
}

/* line 8, ../sass/partials/_hero.scss */
.background-container {
  height: 1500px;
  margin: 0;
  padding-top: 40px;
  background: #8e9eab;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(top, #8e9eab, #B4B4B4);
  background: -o-linear-gradient(top, #8e9eab, #eef2f3);
  background: linear-gradient(to bottom, #B4B4B4, #fff);
}
@media only screen and (min-width: 1201px) {
  /* line 8, ../sass/partials/_hero.scss */
  .background-container {
    margin: 0 80px 0px 80px;
  }
}

/* line 23, ../sass/partials/_hero.scss */
.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

/* line 33, ../sass/partials/_hero.scss */
.hero {
  display: block;
  pointer-events: none;
  margin-top: 5em;
  margin-bottom: 5em;
}
@media only screen and (max-width: 992px) {
  /* line 33, ../sass/partials/_hero.scss */
  .hero {
    display: block;
  }
}
@media only screen and (max-width: 992px) {
  /* line 42, ../sass/partials/_hero.scss */
  .hero .col {
    margin: auto !important;
    float: none !important;
    width: 60% !important;
  }
}

/* line 1, ../sass/partials/_nav.scss */
#logo {
  pointer-events: none;
}

/* line 5, ../sass/partials/_nav.scss */
nav {
  margin: 0;
  overflow: hidden;
}

/* line 10, ../sass/partials/_nav.scss */
nav ul {
  float: right;
  margin: 0;
  padding: 0;
}

/* line 16, ../sass/partials/_nav.scss */
nav ul li {
  display: inline-block;
  list-style-type: none;
}

/* line 22, ../sass/partials/_nav.scss */
nav > ul > li > a {
  color: #eee;
  font-size: 20px;
  display: block;
  line-height: 2em;
  padding: 0.5em 0.5em;
  text-decoration: none;
}

/* line 1, ../sass/partials/_cards.scss */
.cards {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/partials/_cards.scss */
.hover:hover {
  z-index: 99;
  position: relative;
  box-shadow: 0 2px 35px 2px rgba(0, 0, 0, 0.4);
  transition: box-shadow .25s;
}

/* line 13, ../sass/partials/_cards.scss */
.card-panel {
  margin: 0;
  box-shadow: none;
  border-radius: 0;
}

/* line 19, ../sass/partials/_cards.scss */
.card {
  margin: 0;
  box-shadow: none;
  border-radius: 0;
}
/* line 25, ../sass/partials/_cards.scss */
.card .hidden {
  display: none !important;
}
/* line 28, ../sass/partials/_cards.scss */
.card .text-reveal {
  width: 45%;
  float: left;
  margin: 100px 10px;
}
/* line 33, ../sass/partials/_cards.scss */
.card .main-left {
  width: 50% !important;
  float: left !important;
  margin: 100px 10px !important;
}

/* line 40, ../sass/partials/_cards.scss */
.large {
  color: white;
  margin-top: -150px;
  height: 600px !important;
}
/* line 45, ../sass/partials/_cards.scss */
.large .card {
  height: 100% !important;
}

/* line 50, ../sass/partials/_cards.scss */
.no-margin {
  padding: 0 !important;
}

/* line 55, ../sass/partials/_cards.scss */
.scale {
  animation-name: scale;
  animation-duration: 250ms;
  width: 100% !important;
}

/* line 61, ../sass/partials/_cards.scss */
.shrink {
  animation-name: shrink;
  animation-duration: 250ms;
  width: 0% !important;
}

@keyframes scale {
  0% {
    width: 50%;
  }
  5% {
    width: 52%;
  }
  10% {
    width: 55%;
  }
  15% {
    width: 57%;
  }
  20% {
    width: 60%;
  }
  25% {
    width: 62%;
  }
  30% {
    width: 65%;
  }
  35% {
    width: 67%;
  }
  40% {
    width: 70%;
  }
  45% {
    width: 72%;
  }
  50% {
    width: 75%;
  }
  55% {
    width: 77%;
  }
  60% {
    width: 80%;
  }
  65% {
    width: 82%;
  }
  70% {
    width: 85%;
  }
  75% {
    width: 87%;
  }
  80% {
    width: 90%;
  }
  85% {
    width: 92%;
  }
  90% {
    width: 95%;
  }
  95% {
    width: 97%;
  }
  100% {
    width: 100%;
  }
}
@keyframes shrink {
  0% {
    width: 50%;
  }
  5% {
    width: 48%;
  }
  10% {
    width: 45%;
  }
  15% {
    width: 43%;
  }
  20% {
    width: 40%;
  }
  25% {
    width: 38%;
  }
  30% {
    width: 35%;
  }
  35% {
    width: 33%;
  }
  40% {
    width: 30%;
  }
  45% {
    width: 28%;
  }
  50% {
    width: 25%;
  }
  55% {
    width: 23%;
  }
  60% {
    width: 20%;
  }
  65% {
    width: 18%;
  }
  70% {
    width: 15%;
  }
  75% {
    width: 13%;
  }
  80% {
    width: 10%;
  }
  85% {
    width: 8%;
  }
  90% {
    width: 5%;
  }
  95% {
    width: 3%;
  }
  100% {
    width: 0%;
  }
}
/* line 2, ../sass/partials/card/_map.scss */
.map .map-stat {
  padding: 2em;
  width: 100%;
  height: 100%;
  background: #F97C00;
  color: #c66300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
/* line 14, ../sass/partials/card/_map.scss */
.map .map-stat p {
  font-size: 1.2em;
  margin: 0;
}
/* line 19, ../sass/partials/card/_map.scss */
.map .map-stat .map-aqi {
  font-size: 70px;
  color: #fff;
  font-weight: 800;
  letter-spacing: -2px;
  text-align: center;
  margin: 0;
}
/* line 28, ../sass/partials/card/_map.scss */
.map .map-stat .map-date {
  margin-right: auto;
  align-self: flex-end;
}
/* line 33, ../sass/partials/card/_map.scss */
.map .map-stat .map-country {
  font-weight: 600;
  font-size: 1.5em;
  margin-left: auto;
}
/* line 41, ../sass/partials/card/_map.scss */
.map .color-card {
  height: 450px;
  color: #fff;
}
/* line 45, ../sass/partials/card/_map.scss */
.map .color-card .activator {
  padding: 120px 50px 0px 50px;
}

/* line 1, ../sass/partials/card/_quote.scss */
.quote-card {
  height: 450px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  background: url("/images/quote-bg4.jpg") no-repeat center;
  background-size: cover;
}

/* line 13, ../sass/partials/card/_quote.scss */
.quote-card .quote-main {
  font-size: 24px;
  text-align: center;
}

/* line 18, ../sass/partials/card/_quote.scss */
.quote-card .quote-secondary {
  font-size: 16px;
  text-align: right;
}

/* line 1, ../sass/partials/card/_stat.scss */
.stat-card {
  height: 450px;
  color: #fff;
}

/* line 6, ../sass/partials/card/_stat.scss */
.stat-card .stat-main {
  font-size: 90px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  width: 200px;
  display: block;
  padding: 0;
}

/* line 17, ../sass/partials/card/_stat.scss */
.stat-card .stat-detail {
  font-size: 16px;
  font-weight: 400;
}

/* line 1, ../sass/partials/card/_title.scss */
.top-row {
  background-image: url("../images/render.png");
  padding-top: 200px;
  background-position-y: 20px;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 992px) {
  /* line 1, ../sass/partials/card/_title.scss */
  .top-row {
    background-image: none;
    padding-top: 0;
  }
}
@media only screen and (max-width: 992px) {
  /* line 12, ../sass/partials/card/_title.scss */
  .top-row .col {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
/* line 19, ../sass/partials/card/_title.scss */
.top-row .top-card {
  max-height: 250px;
  text-align: center;
}

/* line 25, ../sass/partials/card/_title.scss */
.title-card {
  height: 100%;
  padding: 2em;
}

/* line 30, ../sass/partials/card/_title.scss */
.title-card .title {
  font-size: 70px;
  color: #fff;
  font-weight: 800;
  letter-spacing: 3px;
  text-align: center;
  margin: 0;
}

/* line 39, ../sass/partials/card/_title.scss */
.title-card .title-text {
  font-size: 20px;
  color: #fff;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  line-height: 1.2;
}

/* line 48, ../sass/partials/card/_title.scss */
.title-card #title-render {
  margin: 65px 10px;
  height: 30%;
  pointer-events: none;
}
@media only screen and (min-width: 961px) {
  /* line 48, ../sass/partials/card/_title.scss */
  .title-card #title-render {
    width: 200px;
    margin: 3em auto;
  }
}

/* line 60, ../sass/partials/card/_title.scss */
.title-card .color-title {
  text-align: center;
  font-weight: 300;
  font-size: 1.75em;
  margin: 0;
  margin-top: -.5em;
  color: #fff;
}
/* line 69, ../sass/partials/card/_title.scss */
.title-card .colors {
  padding: .75em;
  position: relative;
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 78, ../sass/partials/card/_title.scss */
.title-card .colors div {
  height: 100%;
  width: 50%;
}
/* line 84, ../sass/partials/card/_title.scss */
.title-card .green {
  background: #009788;
  color: #00645a !important;
}
/* line 89, ../sass/partials/card/_title.scss */
.title-card .lime {
  background: #CDDE20;
  color: #a4b11a !important;
}
/* line 94, ../sass/partials/card/_title.scss */
.title-card .navy {
  background: #0544A4 !important;
  color: #032f73 !important;
}
/* line 99, ../sass/partials/card/_title.scss */
.title-card .orange {
  background: #F97C00 !important;
  color: #c66300 !important;
}

/* line 2, ../sass/partials/_footer.scss */
.signup {
  display: flex;
  text-align: center;
  height: 500px;
  min-height: 400px;
  height: 80%;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
/* line 12, ../sass/partials/_footer.scss */
.signup .footer {
  position: relative;
}
/* line 15, ../sass/partials/_footer.scss */
.signup .footer h2 {
  font-size: 2.75em;
  font-weight: 600;
  color: #4B4237;
}
/* line 22, ../sass/partials/_footer.scss */
.signup input {
  width: 65%;
  margin-right: 20px;
}
/* line 27, ../sass/partials/_footer.scss */
.signup label {
  left: 5.75rem;
}

/* line 1, ../sass/partials/_type.scss */
.secondary {
  margin: 0;
  margin-top: -10px;
  padding: 0;
  text-align: center;
  font-size: 18px;
}
